*{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
.nav-1{
    margin: 20px 140px;
    display: flex;
}
.img-1{
    width: 62px;
}
.starting{
margin: 17px 185px 15px 11px;
font-family: "Quicksand", serif;
font-size: 32px;
font-weight: bold;

}
.link-dad{
    margin: 16px 170px 16px 0px;
}
.link-1{
    margin-right:32px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FEA301;
    font-family: "Quicksand", serif;
}
.link-2{
    margin-right:32px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: medium;
    color: #01ACFD;
    font-family: "Quicksand", serif;
}
.link-3{
    margin-right:32px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: medium;
    color: #05D4DF;
    font-family: "Quicksand", serif;
}
.link-4{
    text-decoration: none;
    font-size: 20px;
    font-weight: medium;
    color: #5D58EF;
    font-family: "Quicksand", serif;
}
.btn-1{
    margin-top: 6px;
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: medium;
}
.first-parent{
    display: flex;
    margin: 20px 140px;
}
.first-head{
    margin-bottom: 24px;
    font-family: "Quicksand", serif;
    font-weight: bold;
    font-size: 56px;
}
.h2-style-1{
    color: #FEA301;
}
.h2-style-2{
color: #01ACFD;
}
.p-1{
    margin-right: -24px;
    margin-bottom: 24px;
    font-family: "Quicksand", serif;
    font-weight:light;
    font-size: 20px;
}
.bar{
    display: none;
}
.btn-2{
    width: 197px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: "Quicksand", serif;
    font-size:20px;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 12px;
}
.inner-parent-1{
    margin: 122px 60px ;
}
@media only screen and (max-width:600px) {
    .nav-1{
        margin: 12px 16px;
    }
    .starting{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .link-dad{
        display: none;
        margin-left: 40px;
    }
    .nav-1{
        justify-content: space-between;
    }
    .bar{
        display: block;
        margin-top: 20px;
        margin-left: 225px;
        width: 30px;
        height: 30px;
        color: white;
    }
    .title-1{
        position: relative;
        left: 250px;
    }
    .img-1{
        align-self: center;
    }
    .inner-parent-1{
        order: 2;
        margin-top: 5px;
    }
    .inner-parent-2{
        order: 1;
    }
    .hero-img{
        width: 300px;
        height: 413px;
        object-fit: contain;
        margin-bottom: 5px;
    }
    .first-parent{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin-left: 15px;
        margin-right: 15px;
    }
    .first-head{
        font-size: 32px;
        text-align: center;
    }
    .p-1{
        text-align: center;
    }
}